<!DOCTYPE html>
<html>
  <head>
    <title>Climate Watch NDC Tracking tool</title>
    <%= csrf_meta_tags %>

    <% if @is_production %>
      <%= stylesheet_pack_tag 'main' %>
    <% end %>
    <%= javascript_pack_tag 'main' %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'main' %>
  </body>
</html>
